@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 60% 90%;
    --foreground: 0 0% 10%;

    --card: 36 60% 95%;
    --card-foreground: 0 0% 10%;

    --popover: 36 60% 95%;
    --popover-foreground: 0 0% 10%;

    --primary: 0 80% 20%;
    --primary-foreground: 36 60% 95%;

    --secondary: 36 60% 85%;
    --secondary-foreground: 0 80% 20%;

    --muted: 36 30% 85%;
    --muted-foreground: 0 0% 40%;

    --accent: 36 60% 80%;
    --accent-foreground: 0 80% 20%;

    --destructive: 0 80% 40%;
    --destructive-foreground: 36 60% 95%;

    --border: 36 30% 80%;
    --input: 36 30% 80%;
    --ring: 0 80% 20%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
